Port 2222
ListenAddress 0.0.0.0
LoginGraceTime 60
MaxAuthTries 3
X11Forwarding no
Ciphers aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-256,hmac-sha2-512
StrictModes yes
SyslogFacility AUTH
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin prohibit-password
Subsystem sftp internal-sftp
